<header id="masthead" class="site-header" role="banner">
  <div class="banner-copy">
    <div class="container">
      <div class="row">
        <div class="col-xxl-6 push-xxl-3">
          <h1 class="entry-title">Contact Us</h1>
        </div>
      </div>
    </div>
  </div>
</header><!-- #masthead -->
<div class="site-content-contain">
  <div id="content" class="site-content">
    <div id="primary" class="content-area">
      <main id="main" class="site-main" role="main">
        <section class="fade section section-white">
          <div class="container">
            <div class="row">
              <div class="col-xxl-6 offset-xxl-3">
                <p class="big-text">
                  At Art Cycling we pride ourselves on excellent communication with our fans. We always aim to be within easy reach and want to make sure you get the answers you want quickly and easily.
                  <span class="dots"></span><br/>
                  <b>contact@artcycling.id</b>
                </p>
              </div>
            </div>
          </div>
        </section>
        <section class="fade section p-t-0 p-b-0">
          <div class="embed-responsive embed-responsive-21by9">
            <div class="embed-responsive-item" data-map="_map316e8b86748w2">
              <div class="preloader">
                <svg viewBox="25 25 50 50">
                  <circle cx="50" cy="50" r="20"></circle>
                </svg>
              </div>
              <script>
                var _map316e8b86748w2 = {
                  location: {
                    lat: 40.59388,
                    lng: -73.9915237
                  },
                  zoom: 15,
                  infowindows: [
                    [
                      '<div style="padding: 2em 1em 0;">',
                        '<div class="panel">',
                          '<h3>Head office</h3>',
                          '<h2>',
                            '168 Bay<br>',
                            '41st Street<br>',
                            'Brooklyn, NY.<br>',
                            '(888) 888-8888',
                          '</h2>',
                        '</div>',
                      '</div>'
                    ].join('')
                  ]
                };
              </script>
            </div><!-- [data-map] -->
          </div><!-- .embed-responsive -->
        </section>
        <section class="fade section section-white">
          <div class="container">
            <div class="row">
              <div class="col-xxl-6 offset-xxl-3">
                <div class="row">
                  <div class="col-lg-5">
                    <div class="panel m-t-3 m-b-5">
                      <h3>Drop us a line</h3>
                      <h2>We love to hear from you</h2>
                      <p>Join Cycling club which offers you the chance to compete on a regular basis and work your way up through the race categories. Once you have reached national or international level, if your results are good enough you will automatically come onto the radar of our performance staff, who will approach you if they feel you have the potential to make it on the team.</p>
                      <p><a href="#">support@artcycling.id</a></p>
                    </div><!-- .panel -->
                  </div><!-- .col-* -->
                  <div class="col">
                    <div id="img6486932646">
                      <img
                      class="lazyload"
                      src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                      data-src="images/graphics/graphic-02.svg"
                      alt="">
                    </div>
                  </div><!-- .col-* -->
                </div><!-- .row -->
              </div>
            </div>
          </div>
        </section>
        <section class="fade section section-white">
          <div class="container">
            <div class="row">
              <div class="col-xxl-6 offset-xxl-3">
                <p ng-bind-html="vm.pages[4].content">
                  Founded in 2017, Cycling seeks to share the beauty of cycling and to inspire cyclists of all levels to become better and more knowledgeable riders.
                  <span class="dots"></span>
                </p>
              </div>
            </div>
          </div>
        </section>
        <section class="fade section">
          <div class="container">
            <div class="row">
              <div class="col-xxl-6 offset-xxl-3">
                <p ng-bind-html="vm.pages[5].content">
                  Founded in 2017, Cycling seeks to share the beauty of cycling and to inspire cyclists of all levels to become better and more knowledgeable riders.
                  <span class="dots"></span>
                </p>
              </div>
            </div>
          </div>
        </section>
        <section class="fade section section-white">
          <div class="container">
            <div class="row">
              <div class="col-xxl-6 offset-xxl-3">
                <p ng-bind-html="vm.pages[4].content">
                  Founded in 2017, Cycling seeks to share the beauty of cycling and to inspire cyclists of all levels to become better and more knowledgeable riders.
                  <span class="dots"></span>
                </p>
              </div>
            </div>
          </div>
        </section>
      </main><!-- #main -->
    </div><!-- #primary -->
  </div><!-- #content -->
</div><!-- .site-content-contain -->
<script type="text/javascript">
  window.onload = function(){
    function initMap() {

      'use strict'

      function draw( canvas, styles ){

        var self = this;

        function start(){

          self.options = window[canvas.getAttribute('data-map')];
          if ( self.options ) map();
        }

        function map(){

          self.map = new google.maps.Map(canvas, {
            scrollwheel: false,
            zoom: self.options.zoom || 4,
            center: self.options.location,
            styles: styles.theme
          });

          path();
        }

        function path(){

          if ( self.options.path ) {

            self.line = new google.maps.Polyline({
              geodesic: true,
              strokeOpacity: 1.0,
              strokeColor: self.options.path.color,
              strokeWeight: self.options.path.weight,
              path: self.options.path.coordinates
            });

            self.line.setMap(self.map);
          }

          marker();
        }

        function marker(){

          var markers = [];

          if ( self.line ) {

            markers.push({
              position: self.options.path.coordinates[0],
              icon: styles.markers.start
            });

            markers.push({
              position: self.options.path.coordinates.slice(-1).pop(),
              icon: styles.markers.finish
            });

          } else {

            markers.push({
              position: self.options.location,
              icon: styles.markers.defualt
            });
          }

          for (var i = 0, len = markers.length; i < len; i++) {
            addMarker( markers[i] );
          }

          setTimeout(info, 50);
        }

        function addMarker( i ){

          if ( !self.marker ) self.marker = [];

          setTimeout(function(){

            self.marker.push( new google.maps.Marker({
              map: self.map,
              animation: google.maps.Animation.DROP,
              position: i.position,
              draggable: false,
              optimized: false,
              icon: {
                url: i.icon.url,
                scaledSize: new google.maps.Size(i.icon.size[0], i.icon.size[1])
              }
            }));
          }, 0 );
        }

        function info(){

          if ( self.options.infowindows ) {
            for (var i = 0, len = self.marker.length; i < len; i++) {
              if ( self.options.infowindows[i] ){
                addInfo(self.options.infowindows[i], self.marker[i])
              }
            }

            // console.log(self.info);
          }
        }

        function addInfo(i, m){

          if ( !self.info ) self.info = [];

          var info = new google.maps.InfoWindow({
            content: i
          });

          self.info.push(info);

          m.addListener('click', function() {
            info.open(self.map, m);
          });
        }

        start();
      }

      function init(){

        var maps = document.querySelectorAll('[data-map]'),
            styles = getStyles();

        if ( maps ){
          for (var i = 0, len = maps.length; i < len; i++) {
            var canvas = new draw( maps[i], styles );
          }
        }
      }

      function getStyles(){

        try {
          return googleMapStyles;
        } catch (e) {
          return {
            markers: {
              defualt: {
                url: '/public/images/icons/room.svg',
                size: [48,48]
              },
              start: {
                url: '/public/images/icons/room.svg',
                size: [32,32]
              },
              finish: {
                url: '/public/images/icons/flag.svg',
                size: [32,32]
              }
            },
            theme: [
              {
                "elementType": "geometry",
                "stylers": [
                  {
                    "color": "#f5f5f5"
                  }
                ]
              },
              {
                "elementType": "geometry.fill",
                "stylers": [
                  {
                    "color": "#dedede"
                  }
                ]
              },
              {
                "elementType": "labels.icon",
                "stylers": [
                  {
                    "visibility": "off"
                  }
                ]
              },
              {
                "elementType": "labels.text.fill",
                "stylers": [
                  {
                    "color": "#616161"
                  }
                ]
              },
              {
                "elementType": "labels.text.stroke",
                "stylers": [
                  {
                    "color": "#f5f5f5"
                  }
                ]
              },
              {
                "featureType": "administrative.land_parcel",
                "stylers": [
                  {
                    "visibility": "off"
                  }
                ]
              },
              {
                "featureType": "administrative.land_parcel",
                "elementType": "labels.text.fill",
                "stylers": [
                  {
                    "color": "#bdbdbd"
                  }
                ]
              },
              {
                "featureType": "administrative.neighborhood",
                "stylers": [
                  {
                    "visibility": "off"
                  }
                ]
              },
              {
                "featureType": "poi",
                "elementType": "geometry",
                "stylers": [
                  {
                    "color": "#eeeeee"
                  }
                ]
              },
              {
                "featureType": "poi",
                "elementType": "labels.text",
                "stylers": [
                  {
                    "visibility": "off"
                  }
                ]
              },
              {
                "featureType": "poi",
                "elementType": "labels.text.fill",
                "stylers": [
                  {
                    "color": "#757575"
                  }
                ]
              },
              {
                "featureType": "poi.business",
                "stylers": [
                  {
                    "visibility": "off"
                  }
                ]
              },
              {
                "featureType": "poi.park",
                "elementType": "geometry",
                "stylers": [
                  {
                    "color": "#e5e5e5"
                  }
                ]
              },
              {
                "featureType": "poi.park",
                "elementType": "labels.text",
                "stylers": [
                  {
                    "visibility": "off"
                  }
                ]
              },
              {
                "featureType": "poi.park",
                "elementType": "labels.text.fill",
                "stylers": [
                  {
                    "color": "#9e9e9e"
                  }
                ]
              },
              {
                "featureType": "road",
                "elementType": "geometry",
                "stylers": [
                  {
                    "color": "#ffffff"
                  }
                ]
              },
              {
                "featureType": "road",
                "elementType": "labels",
                "stylers": [
                  {
                    "visibility": "off"
                  }
                ]
              },
              {
                "featureType": "road.arterial",
                "elementType": "labels.text.fill",
                "stylers": [
                  {
                    "color": "#757575"
                  }
                ]
              },
              {
                "featureType": "road.highway",
                "elementType": "geometry",
                "stylers": [
                  {
                    "color": "#dadada"
                  }
                ]
              },
              {
                "featureType": "road.highway",
                "elementType": "labels.text.fill",
                "stylers": [
                  {
                    "color": "#616161"
                  }
                ]
              },
              {
                "featureType": "road.local",
                "elementType": "labels.text.fill",
                "stylers": [
                  {
                    "color": "#9e9e9e"
                  }
                ]
              },
              {
                "featureType": "transit.line",
                "elementType": "geometry",
                "stylers": [
                  {
                    "color": "#e5e5e5"
                  }
                ]
              },
              {
                "featureType": "transit.station",
                "elementType": "geometry",
                "stylers": [
                  {
                    "color": "#eeeeee"
                  }
                ]
              },
              {
                "featureType": "water",
                "elementType": "geometry",
                "stylers": [
                  {
                    "color": "#c9c9c9"
                  }
                ]
              },
              {
                "featureType": "water",
                "elementType": "labels.text",
                "stylers": [
                  {
                    "visibility": "off"
                  }
                ]
              },
              {
                "featureType": "water",
                "elementType": "labels.text.fill",
                "stylers": [
                  {
                    "color": "#9e9e9e"
                  }
                ]
              }
            ]

          }
        }
      }

      setTimeout(init, 0);
    }
  }

</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC60ZzdjlZmLp4WBwa8BqiNya2Gu5g49_M&callback=initMap"></script>