<div id="wrapper" class="toggled">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <!-- logo -->
                <div class="site-branding">
                    <a class="logo" ui-sref="main.home">

                        <!-- logo image  -->
                        <img src="dist/img/logo.png" alt="Logo">

                        ART CYCLING
                    </a>
                </div>
            </li>
            <!--li ui-sref-active="active">
                <a ui-sref="admin.pages">Pages</a>
            </li-->
            <li ui-sref-active="active">
                <a ui-sref="admin.speakers">Guests</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="admin.schedules">Schedules</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="admin.partners">Partners</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="admin.members">Members</a>
            </li>
            <li>
                <a ui-sref="auth">Logout</a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid" ui-view></div>
    </div>
    <!-- /#page-content-wrapper -->

</div>