<div class="menu-wrap">
        <nav class="menu">
            <!-- NAV -->
            <ul class="clearfix">
                    <li><a href="#">Home</a></li>
                    <li>
                        <a href="#">Movies <span class="arrow">&#9660;</span></a>
                 
                        <ul class="sub-menu">
                            <li><a href="#">In Cinemas Now</a></li>
                            <li><a href="#">Coming Soon</a></li>
                            <li><a href="#">On DVD/Blu-ray</a></li>
                            <li><a href="#">Showtimes &amp; Tickets</a></li>
                        </ul>
                    </li>
                    <li><a href="#">T.V. Shows</a></li>
                    <li class="current-item"><a href="#">Photos</a></li>
                    <li><a href="#">Site Help</a></li>
                </ul>
        </nav>
</div>
<ui-view></ui-view>

<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 text-center">
                <span class="">Copyright <i class="fa fa-copyright"></i> Art Cycling App 2017.</span>
            </div>
        </div>
    </div>
</footer>