<div id="search-popup" class="search-results">
    <div class="container">
      <div class="row">
        <div class="col-xxl-6 offset-xxl-3">
          <section>
            <h2 class="widget-title search-filter-title">
              <span class="nowrap">Topic</span>
            </h2>
            <div class="row">
              <div class="col-md-4">
                <div class="search-filter search-filter-thumb dark card rig">
                  <figure class="poster">
                    <img
                    class="lazyload"
                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    data-src="images/stock/placeholder-768x432.jpg"
                    width="768"
                    height="432"
                    alt="">
                  </figure>
                  <div class="title"><span>Nature</span></div>
                  <a class="ripple link" href="#"></a>
                </div>
              </div>
              <div class="col-md-4">
                <div class="search-filter search-filter-thumb dark card rig">
                  <figure class="poster">
                    <img
                    class="lazyload"
                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    data-src="images/stock/placeholder-768x432.jpg"
                    width="768"
                    height="432"
                    alt="">
                  </figure>
                  <div class="title"><span>Life style</span></div>
                  <a class="ripple link" href="#"></a>
                </div>
              </div>
              <div class="col-md-4">
                <div class="search-filter search-filter-thumb light card rig">
                  <div class="title"><span>All topics</span></div>
                  <a class="ripple link" href="#"></a>
                </div>
              </div>
            </div>
          </section>
          <section>
            <h2 class="widget-title search-filter-title">
              <span class="nowrap">Top search</span>
            </h2>
            <div class="row">
              <div class="col-md-4">
                <div class="search-filter search-filter-tag light card rig">
                  <div class="title">
                    <span>Cycling in cities</span>
                    <span>&plus;2500 results</span>
                  </div>
                  <a class="ripple link" href="#"></a>
                </div>
              </div>
              <div class="col-md-4">
                <div class="search-filter search-filter-tag light card rig">
                  <div class="title">
                    <span>Pedal power</span>
                    <span>&plus;1800 results</span>
                  </div>
                  <a class="ripple link" href="#"></a>
                </div>
              </div>
              <div class="col-md-4">
                <div class="search-filter search-filter-tag light card rig">
                  <div class="title">
                    <span>In transit</span>
                    <span>&plus;900 results</span>
                  </div>
                  <a class="ripple link" href="#"></a>
                </div>
              </div>
            </div>
          </section>
          <section>
            <h2 class="widget-title search-filter-title">
              <span class="nowrap">Event</span>
            </h2>
            <div class="row">
              <div class="col-md-4">
                <div class="search-filter search-filter-thumb dark card rig">
                  <figure class="poster">
                    <img
                    class="lazyload"
                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    data-src="images/stock/placeholder-768x432.jpg"
                    width="768"
                    height="432"
                    alt="">
                  </figure>
                  <div class="title"><span>Road</span></div>
                  <a class="ripple link" href="#"></a>
                </div>
              </div>
              <div class="col-md-4">
                <div class="search-filter search-filter-thumb dark card rig">
                  <figure class="poster">
                    <img
                    class="lazyload"
                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    data-src="images/stock/placeholder-768x432.jpg"
                    width="768"
                    height="432"
                    alt="">
                  </figure>
                  <div class="title"><span>Fun</span></div>
                  <a class="ripple link" href="#"></a>
                </div>
              </div>
              <div class="col-md-4">
                <div class="search-filter search-filter-thumb light card rig">
                  <div class="title"><span>All events</span></div>
                  <a class="ripple link" href="#"></a>
                </div>
              </div>
            </div>
          </section>
          <section>
            <h2 class="widget-title search-filter-title">
              <span class="nowrap">Tag</span>
            </h2>
            <div class="row">
              <div class="col-md-4">
                <div class="search-filter search-filter-tag light card rig">
                  <div class="title">
                    <span>Tech</span>
                    <span>678 posts</span>
                  </div>
                  <a class="ripple link" href="#"></a>
                </div>
              </div>
              <div class="col-md-4">
                <div class="search-filter search-filter-tag light card rig">
                  <div class="title">
                    <span>Rider</span>
                    <span>456 posts</span>
                  </div>
                  <a class="ripple link" href="#"></a>
                </div>
              </div>
              <div class="col-md-4">
                <div class="search-filter search-filter-tag light card rig">
                  <div class="title">
                    <span>Thereabouts</span>
                    <span>234 posts</span>
                  </div>
                  <a class="ripple link" href="#"></a>
                </div>
              </div>
            </div>
          </section>
          <section>
            <h2 class="widget-title search-filter-title">
              <span class="nowrap">People</span>
            </h2>
            <div class="row">
              <div class="col-md-4">
                <div class="search-filter search-filter-people light card rig">
                  <div class="title">
                    <span>Bazhkou Stanislau</span>
                    <img
                    class="avatar lazyload"
                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    data-src="images/stock/avatar-90.jpg" width="45" height="45" alt="User">
                  </div>
                  <a class="ripple link" href="#"></a>
                </div>
              </div>
              <div class="col-md-4">
                <div class="search-filter search-filter-people light card rig">
                  <div class="title">
                    <span>Feehery Brandon</span>
                    <img
                    class="avatar lazyload"
                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    data-src="images/stock/avatar-90.jpg" width="45" height="45" alt="User">
                  </div>
                  <a class="ripple link" href="#"></a>
                </div>
              </div>
              <div class="col-md-4">
                <div class="search-filter search-filter-people light card rig">
                  <div class="title">
                    <span>Spacetrooper</span>
                    <img
                    class="avatar lazyload"
                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    data-src="images/stock/avatar-90.jpg" width="45" height="45" alt="User">
                  </div>
                  <a class="ripple link" href="#"></a>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div><!-- .search-results -->
  <div id="stickynav" class="sticky-navigation">
    <div class="container">
      <div class="nav-inner">
        <div class="site-branding">
          <a href="page-home.html">
            <img src="images/identity/Logo.svg" width="138" height="45" alt="Cycling"/>
          </a>
          <button class="hamburger"><i class="material-icons md-24">menu</i></button>
        </div>
        <div class="site-navigation swipe-close">
          <nav aria-label="Site Menu" class="main-navigation" role="navigation">
            <div class="menu-top-menu-container">
              <ul class="menu" id="top-menu">
                <li>
                  <a href="events.html">Events</a>
                </li>
                <li>
                  <a href="results.html">Results</a>
                </li>
                <li>
                  <a href="videos.html">Videos</a>
                </li>
                <li>
                  <a href="galleries.html">Galleries</a>
                </li>
                <li class="menu-item-has-children">
                  <a href="index.html">Blog <i class="material-icons md-18">arrow_drop_down</i></a>
                  <ul class="sub-menu">
                    <li>
                      <a href="single-post.html">Standard post</a>
                    </li>
                    <li>
                      <a href="single-video.html">Video post</a>
                    </li>
                    <li>
                      <a href="single-gallery.html">Gallery post</a>
                    </li>
                    <li>
                      <a href="single-event.html">Single event</a>
                    </li>
                    <li>
                      <a href="single-result.html">Single result</a>
                    </li>
                  </ul>
                </li>
                <li class="menu-item-has-children">
                  <a href="#">More <i class="material-icons md-18">arrow_drop_down</i></a>
                  <ul class="sub-menu">
                      <li>
                      <a href="about.html">About</a>
                    </li>
                    <li>
                      <a href="contact.html">Contact</a>
                    </li>
                    <li>
                      <a href="faq.html">FAQ</a>
                    </li>
                    <li>
                      <a href="404.html">404</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </nav>
        </div>
        <div class="site-search">
          <!-- replace .search-form with an actual form -->
          <div class="search-form">
            <div class="pack-search-form">
              <input type="search" class="search-field" placeholder="Search &hellip;" value="" name="s">
              <div class="search-status">
                <div class="preloader">
                  <svg viewBox="25 25 50 50">
                    <circle cx="50" cy="50" r="20"></circle>
                  </svg>
                </div>
                <i class="material-icons md-24">search</i>
              </div>
              <button class="search-on"><i class="material-icons md-24">search</i></button>
              <button class="search-off"><i class="material-icons md-24">clear</i></button>
            </div>
          </div><!-- .search-form -->
        </div>
        <div class="user-navigation swipe-close">
          <div class="user-nav-wrap">
            <div class="user-signup">
              <a class="btn btn-link" href="./signup" data-popup="sign-up"><i class="material-icons md-24">person_add</i></a>
            </div>
            <div class="user-login">
              <a class="btn btn-link" href="./login" data-popup="log-in"><i class="material-icons md-24">vpn_key</i></a>
            </div>
            <div class="user-prise">
              <a class="btn btn-primary" href="#">Win a free T-shirt</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- #mainnav -->
  <div class="popup log-in-popup">
    <button class="popup-overlay" data-popup="log-in" type="button"></button>
    <div class="popup-box">
      <button class="popup-close" data-popup="log-in" type="button">Log in <i class="material-icons">clear</i></button>
      <div class="popup-inner">
        <div class="form-row">
          <button class="btn btn-large btn-has-icon btn-facebook block">
            <i class="fa fa-facebook"></i>
            <span class="copy nowrap">Log in with Facebook</span>
          </button>
        </div><!-- .form-row -->
        <div class="form-row">
          <button class="btn btn-large btn-has-icon btn-google block">
            <img
            class="lazyload"
            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
            data-src="images/icons/google-icon.svg" width="22" height="22" alt="Google">
            <span class="copy nowrap">Log in with Google</span>
          </button>
        </div><!-- .form-row -->
        <div class="hr">
          <div class="left">&nbsp;</div>
          <div class="copy">or</div>
          <div class="right">&nbsp;</div>
        </div><!-- .hr -->
        <!-- Replace this with an actual form -->
        <div class="form">
          <div class="form-row">
            <input class="large outline" type="email" placeholder="Email address">
          </div><!-- .form-row -->
          <div class="form-row">
            <input class="large outline" type="password" placeholder="Password">
          </div><!-- .form-row -->
          <div class="popup-info">
            <div class="text-left">
              <label class="checkbox-wrap">
                <input type="checkbox" checked="checked">
                <span class="checkbox">
                  <i class="material-icons">done</i>
                </span>
                <span class="small">Remember me</span>
              </label>
            </div>
            <div class="text-right">
              <a class="small" href="./forgot-password" data-popup="forgot-password">Forgot password?</a>
            </div>
          </div>
          <div class="form-row">
            <button class="btn btn-large btn-alt block">
              <span class="copy nowrap">Log in</span>
            </button>
          </div><!-- .form-row -->
        </div><!-- form -->
        <hr>
        <div class="popup-footer">
          <div class="text-left">
            <a href="./signup" data-popup="sign-up">Don’t have an account?</a>
          </div>
          <div class="text-right">
            <a href="./signup" class="btn btn-outline" data-popup="sign-up">Sign up</a>
          </div>
        </div><!-- .popup-footer -->
      </div><!-- .popup-inner -->
    </div>
  </div><!-- .popup -->
  <div class="popup sign-up-popup">
    <button class="popup-overlay" data-popup="sign-up" type="button"></button>
    <div class="popup-box">
      <button class="popup-close" data-popup="sign-up" type="button">Sign up <i class="material-icons">clear</i></button>
      <div class="popup-inner">
        <div class="form-row">
          <button class="btn btn-large btn-has-icon btn-facebook block">
            <i class="fa fa-facebook"></i>
            <span class="copy nowrap">Continue with Facebook</span>
          </button>
        </div><!-- .form-row -->
        <div class="form-row">
          <button class="btn btn-large btn-has-icon btn-google block">
            <img
            class="lazyload"
            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
            data-src="images/icons/google-icon.svg" width="22" height="22" alt="Google">
            <span class="copy nowrap">Continue with Google</span>
          </button>
        </div><!-- .form-row -->
        <div class="hr">
          <div class="left">&nbsp;</div>
          <div class="copy">or</div>
          <div class="right">&nbsp;</div>
        </div><!-- .hr -->
        <div class="form-row">
          <button data-popup="signup-email" class="btn btn-large btn-has-icon btn-alt block">
            <i class="fa fa-envelope"></i>
            <span class="copy nowrap">Sign up with email</span>
          </button>
        </div>
        <p>
          <small>By signing up, I agree to Cycling’s Terms of Service.</small>
        </p>
        <hr>
        <div class="popup-footer">
          <div class="text-left">
            <a href="./login" data-popup="log-in">Already have an account?</a>
          </div>
          <div class="text-right">
            <a href="./login" class="btn btn-outline" data-popup="log-in">Login</a>
          </div>
        </div><!-- .popup-footer -->
      </div><!-- .popup-inner -->
    </div><!-- .popup-box -->
  </div><!-- .popup -->
  <div class="popup signup-email-popup">
    <button class="popup-overlay" data-popup="signup-email" type="button"></button>
    <div class="popup-box">
      <button class="popup-close" data-popup="signup-email" type="button">Sign up <i class="material-icons">clear</i></button>
      <div class="popup-inner">
        <p class="text-center">
          Sign up with <a href="#">Facebook</a> or <a href="#">Google</a>
        </p>
        <div class="hr">
          <div class="left">&nbsp;</div>
          <div class="copy">or</div>
          <div class="right">&nbsp;</div>
        </div><!-- .hr -->
        <!-- Replace this with an actual form -->
        <div class="form">
          <div class="form-row">
            <input class="large outline" type="text" placeholder="Username">
          </div><!-- .form-row -->
          <div class="form-row">
            <input class="large outline" type="email" placeholder="Email address">
          </div><!-- .form-row -->
          <p>
            <small>By signing up, I agree to Cycling’s Terms of Service.</small>
          </p>
          <div class="form-row">
            <button class="btn btn-large btn-alt block">
              <span class="copy nowrap">Sign up</span>
            </button>
          </div><!-- .form-row -->
        </div><!-- form -->
        <hr>
        <div class="popup-footer">
          <div class="text-left">
            <a href="./login" data-popup="log-in">Already have an account?</a>
          </div>
          <div class="text-right">
            <a href="./login" class="btn btn-outline" data-popup="log-in">Login</a>
          </div>
        </div><!-- .popup-footer -->
      </div>
    </div>
  </div><!-- .popup -->
  <div class="popup forgot-password-popup">
    <button class="popup-overlay" data-popup="forgot-password" type="button"></button>
    <div class="popup-box">
      <button class="popup-close" data-popup="forgot-password" type="button">Forgot password <i class="material-icons">clear</i></button>
      <div class="popup-inner">
        <p class="text-center">
          Please enter your username or email address. You will receive a link to create a new password via email.
        </p>
        <hr>
        <!-- Replace this with an actual form -->
        <div class="form">
          <div class="form-row">
            <input class="large outline" type="text" placeholder="Username or Email Address">
          </div><!-- .form-row -->
          <div class="form-row">
            <button class="btn btn-large btn-alt block">
              <span class="copy nowrap">Get new password</span>
            </button>
          </div><!-- .form-row -->
        </div><!-- form -->
        <hr>
        <div class="popup-footer">
          <div class="text-left">
            <a class="btn" href="./login" data-popup="log-in">Log in</a>
            &mid;
            <a class="btn" href="./signup" data-popup="sign-up">Sign up</a>
          </div>
        </div><!-- .popup-footer -->
      </div>
    </div>
  </div><!-- .popup -->