<header id="site-header" class="site-header valign-center" style="height:100vh;;align-content: center;">
    <div class="banner-content">
        <div class="container">
          <div class="row">
            <div class="col-md-4 offset-md-4">
              <h2>
                Explore <strong>topics</strong>,<br>
                find your <strong>next event</strong>,<br>
                or checkout <strong>race results</strong>.
              </h2>
              <div class="pack-search-form alien">
                <button class="search-on">e.g. put the pedal to the metal</button>
                <div class="search-status">
                  <div class="preloader">
                    <svg viewBox="25 25 50 50">
                      <circle cx="50" cy="50" r="20"></circle>
                    </svg>
                  </div>
                  <i class="material-icons md-24">search</i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</header>


