<header id="site-header" class="site-header valign-center" style="height:100vh;;align-content: center;">
    <div class="banner-content">
        <div class="container">
          <div class="row">
            <div class="col-md-4 offset-md-4">
              <h1>
                03 November 2017<br>
                <strong>ART CYCLING</strong><br>
                Ketika Teknologi, Olahraga, Seni Berpadu.
              </h1>
              <div class="user-prise">
                <a class="btn btn-primary" href="#/registration">Register</a>
              </div>
          </div>
        </div>
      </div>
</header>


