<section id="about" class="section about">
    <div class="container" ng-bind-html="vm.pages[1].content" style="height:100vh;margin-top:25%">
        <div class="row">
            <div class="col-sm-12">

                <h3 class="section-title">About Us</h3>

                <p>You've inspired new consumer, racked up click-thru's, blown-up brand enes. We can't give you back the weekends you worked, or erase the pain ebeing forced to make the logo bigger. But if you submit your best work we ajusts might be able to give the chance to show you best digital marketing.</p>

                <figure>
                    <img alt="" class="img-responsive" src="dist/img/about-us.jpg">
                </figure>

            </div>
        </div>
    </div>
</section>

<section id="seru" class="section seru">
    <div class="container" ng-bind-html="vm.pages[3].content" style="height:100vh;margin-top:25%">
        <div class="row">
            <div class="col-sm-12">

                <h3 class="section-title">About Us</h3>

                <p>You've inspired new consumer, racked up click-thru's, blown-up brand enes. We can't give you back the weekends you worked, or erase the pain ebeing forced to make the logo bigger. But if you submit your best work we ajusts might be able to give the chance to show you best digital marketing.</p>

                <figure>
                    <img alt="" class="img-responsive" src="dist/img/about-us.jpg">
                </figure>

            </div>
        </div>
    </div>
</section>

<section id="syarat" class="section syarat">
    <div class="container" ng-bind-html="vm.pages[4].content" style="height:100vh;margin-top:25%">
        <div class="row">
            <div class="col-sm-12">

                <h3 class="section-title">About Us</h3>

                <p>You've inspired new consumer, racked up click-thru's, blown-up brand enes. We can't give you back the weekends you worked, or erase the pain ebeing forced to make the logo bigger. But if you submit your best work we ajusts might be able to give the chance to show you best digital marketing.</p>

                <figure>
                    <img alt="" class="img-responsive" src="dist/img/about-us.jpg">
                </figure>

            </div>
        </div>
    </div>
</section>

<section id="hadiah" class="section hadiah">
    <div class="container" ng-bind-html="vm.pages[5].content" style="height:100vh;margin-top:25%">
        <div class="row">
            <div class="col-sm-12">

                <h3 class="section-title">About Us</h3>

                <p>You've inspired new consumer, racked up click-thru's, blown-up brand enes. We can't give you back the weekends you worked, or erase the pain ebeing forced to make the logo bigger. But if you submit your best work we ajusts might be able to give the chance to show you best digital marketing.</p>

                <figure>
                    <img alt="" class="img-responsive" src="dist/img/about-us.jpg">
                </figure>

            </div>
        </div>
    </div>
</section>

