

<header id="masthead" class="site-header" role="banner">
    <div class="banner-copy">
      <div class="container">
        <div class="row">
          <div class="col-xxl-6 push-xxl-3">
            <h1 class="entry-title">Event</h1>
          </div>
        </div>
      </div>
    </div>
  </header><!-- #masthead -->
  <div class="site-content-contain">
    <div id="content" class="site-content">
      <div id="primary" class="content-area">
            <main id="main" class="site-main" role="main">
          <section class="fade section section-white">
            <div class="container" ng-bind-html="vm.pages[6].content">
              <div class="row">
                <div class="col-xxl-6 offset-xxl-3">
                  <p class="big-text">
                    Event.
                    <span class="dots"></span>
                  </p>
                </div>
              </div>
            </div>
          </section>
          <section class="fade section section-white">
            <div class="container" ng-bind-html="vm.pages[7].content">
              <div class="row">
                <div class="col-xxl-6 offset-xxl-3">
                  <p>
                    Founded in 2017, Cycling seeks to share the beauty of cycling and to inspire cyclists of all levels to become better and more knowledgeable riders.
                    <span class="dots"></span>
                  </p>
                </div>
              </div>
            </div>
          </section>
          <section class="fade section section-white">
            <div class="container" ng-bind-html="vm.pages[8].content">
              <div class="row">
                <div class="col-xxl-6 offset-xxl-3">
                  <p>
                    Founded in 2017, Cycling seeks to share the beauty of cycling and to inspire cyclists of all levels to become better and more knowledgeable riders.
                    <span class="dots"></span>
                  </p>
                </div>
              </div>
            </div>
          </section>
            </main><!-- #main -->
        </div><!-- #primary -->
      </div><!-- #content -->

  </div><!-- .site-content-contain -->